@import url(https://fonts.googleapis.com/css?family=Roboto:100);

.jumbotron-fluid {
  background-color: rgb(33, 31, 31);
  color: rgb(242, 242, 242);
  padding: 100px 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
p {
  font-family: inherit;
  font-size: 16px;
  font-weight: 100;
}
h1 ~ p {
  margin-bottom: 0;
}
h1 + p {
  margin-bottom: 50px;
}
.title {
  font-weight: 700;
  text-align: center;
}
.main-content {
  background-color: #EDF2F4;
  color: rgb(50, 50, 50);
  border: 1px solid #8D99AE;
  text-align: center;
  padding-top: 25px;
}
.temp-section {
  margin: 15px 0;
}
.btn-dark {
  background-color: rgb(33, 31, 31);
  color: rgb(242, 242, 242);
}
#temperature  {
  display: inline;
  vertical-align: -0.25em;
  padding-right: 10px;
}
#weather-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}